.attendance-page{
    padding:30px;
}

.attendance-page h1{
    color:#1e3a8a;
    margin-bottom:20px;
}

.attendance-table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.attendance-table th,
.attendance-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.attendance-table th{
    background:#2563eb;
    color:white;
}