.navbar{

height:75px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:0 10px 25px rgba(15,23,42,.08);

border-bottom:1px solid #E2E8F0;

}

.navbar h2{

font-size:28px;

font-weight:700;

background:linear-gradient(135deg,#2563EB,#7C3AED);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.search-box{

display:flex;

align-items:center;

width:420px;

background:#F8FAFC;

padding:12px 18px;

border-radius:15px;

border:1px solid #E2E8F0;

transition:.3s;

}

.search-box:hover{

border-color:#2563EB;

}

.search-box input{

border:none;

outline:none;

background:transparent;

margin-left:10px;

width:100%;

font-size:15px;

}

.right-menu{

display:flex;

align-items:center;

gap:25px;

}

.icon{

font-size:24px;

color:#475569;

cursor:pointer;

transition:.3s;

}

.icon:hover{

color:#2563EB;

transform:scale(1.15);

}

.profile{

display:flex;

align-items:center;

gap:10px;

background:#F8FAFC;

padding:8px 16px;

border-radius:40px;

}

.profile-icon{

font-size:40px;

color:#2563EB;

}

.profile span{

font-weight:600;

color:#334155;

}