.hero {
  background-color: #0B3D2E;
  min-height: 100vh;
  padding: 50px;
  color: white;
}

.welcome-box {
  width: 80%;
  margin: auto;
  text-align: center;
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.welcome-box h1 {
  color: #D4AF37;
  font-size: 48px;
  margin-bottom: 15px;
}

.welcome-box h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.welcome-box p {
  font-size: 18px;
  color: #f1f1f1;
  line-height: 1.8;
}

.shop-btn {
  margin-top: 25px;
  padding: 14px 35px;
  background: #D4AF37;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-btn:hover {
  background: white;
  transform: scale(1.05);
}

.offers {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.offer-card {
  flex: 1;
  min-width: 220px;
  background: #D4AF37;
  color: rgb(253, 253, 253);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.offer-card:hover {
    background: white;
  transform: translateY(-10px);
}

.offer-card h3 {
  color: black;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 18px;
  font-weight: bold;
  color:black;
}