body{
    background-color:#f5f5f5;
    font-family:Arial,sans-serif;
}
.container{
    width:700px;
    margin: 30px auto;
    background-color:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
h1{
   text-align:center; 
   color:#1f3558;
}
h2{
    color:#1f3558;
    margin-top:30px;
}

label{
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
    box-sizing:border-box;
}

.buttons{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}

button{
    width:45%;
    padding:12px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button[type="submit"]{
    background-color:#2f63ff;
    color:white;
}

button[type="reset"]{
    background-color:#e5e5e5;
}

